@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@layer base {
  body {
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    @apply font-sans antialiased;
  }
}
